/* height: 568px;
    width: 320px; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}
:root body {
  background-color: #fff5ef;
  color: #fff;
  border: 1rem solid #ffc0a1;
  font-family: "Concert One", cursive;
  text-transform: uppercase;
  /* height: 736px;
  width: 414px; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
:root body .breathe {
  grid-row: 2/4;
  justify-self: center;
  align-self: center;
}
:root body .breathe__circle {
  background-color: #ffcdb4;
  border-radius: 50%;
  border: 1rem solid #ffc0a1;
  height: 22rem;
  width: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-align: center;
  animation: breath 3s linear infinite;
}

@keyframes breath {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}