/* height: 568px;
    width: 320px; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to bottom, #fff, #fff5ef);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meditation {
  height: 568px;
  width: 320px;
  background-color: #ffe7dc;
  color: #fff;
  border: 5px solid #fff;
  font-family: "Concert One", cursive;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
}
.meditation .timer,
.meditation .breathe,
.meditation .flow,
.meditation .music {
  display: flex;
  justify-content: center;
  align-items: center;
}
.meditation .timer {
  grid-row: 1/2;
  position: relative;
  border-bottom: 5px solid #fff;
  background-color: #ffcdb4;
}
.meditation .timer__set-time {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #ffcdb4;
  font-family: "Concert One", cursive;
  font-size: 2.5rem;
}
.meditation .breathe {
  grid-row: 2/3;
  background-color: #ffe7dc;
  border-bottom: 5px solid #fff;
  position: relative;
}
.meditation .breathe__circle {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: #ffcdb4;
  border: 5px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.meditation .breathe__circle.slowGrow {
  animation: slowGrow 0.05s linear forwards;
}
.meditation .breathe__circle.grow {
  animation: grow 2.95s linear forwards;
}
.meditation .breathe__circle.hold {
  animation: hold 2s linear forwards;
}
.meditation .breathe__circle.shrink {
  animation: shrink 2.95s linear forwards;
}
.meditation .breathe__circle.slowShrink {
  animation: slowShrink 0.05s linear forwards;
}
@keyframes slowGrow {
  from {
    transform: scale(1);
    background-color: #ffcdb4;
  }
  to {
    transform: scale(1);
    background-color: #ffcdb4;
  }
}
@keyframes grow {
  from {
    transform: scale(1);
    background-color: #ffcdb4;
  }
  to {
    transform: scale(1.2);
    background-color: #ffc0a1;
  }
}
@keyframes hold {
  from {
    transform: scale(1.2);
    background-color: #ffc0a1;
  }
  to {
    transform: scale(1.2);
    background-color: #ffc0a1;
  }
}
@keyframes shrink {
  from {
    transform: scale(1.2);
    background-color: #ffc0a1;
  }
  to {
    transform: scale(1);
    background-color: #ffcdb4;
  }
}
@keyframes slowShrink {
  from {
    transform: scale(1);
    background-color: #ffcdb4;
  }
  to {
    transform: scale(1);
    background-color: #ffcdb4;
  }
}
.meditation .breathe__circle .breathe__start {
  font-family: "Concert One", cursive;
  font-size: 3rem;
  color: #fff;
  background-color: inherit;
}
.meditation .music {
  grid-row: 3/4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 2.5rem;
  background-color: #ffcdb4;
}

button {
  background-color: #ffcdb4;
  border: none;
  text-decoration: none;
  font-family: "Concert One", cursive;
  color: #fff;
  font-size: 3rem;
}

img {
  width: 3rem;
  height: 3rem;
}