/* height: 568px;
    width: 320px; */
$peach-color1: #fff5ef;
$peach-color2: #ffe7dc;
$peach-color3: #ffdac8;
$peach-color4: #ffcdb4;
$peach-color5: #ffc0a1;
$peach-color6: #f6a983;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%; //1rem === 10px;
}

body {
  background: linear-gradient(to bottom, #fff, $peach-color1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meditation {
  height: 568px;
  width: 320px;
  background-color: $peach-color2;
  color: #fff;
  border: 5px solid #fff;
  font-family: "Concert One", cursive;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;

  .timer,
  .breathe,
  .flow,
  .music {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .timer {
    grid-row: 1 / 2;
    position: relative;
    border-bottom: 5px solid #fff;
    background-color: $peach-color4;

    // .settings {
    //   position: absolute;
    //   top: 0.5rem;
    //   left: 0.5rem;
    //   border-radius: 50%;
    //   border: 1px solid #fff;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   img {
    //     width: 2rem;
    //     height: 2rem;
    //   }
    // }

    &__set-time {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background-color: $peach-color4;
      font-family: "Concert One", cursive;
      font-size: 2.5rem;
    }
  }
  .breathe {
    grid-row: 2 / 3;
    background-color: $peach-color2;
    border-bottom: 5px solid #fff;
    position: relative;

    &__circle {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      background-color: $peach-color4;
      border: 5px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      &.grow {
        animation: grow 2.5s linear forwards;
      }

      &.shrink {
        animation: shrink 2.5s linear forwards;
      }

      @keyframes grow {
        from {
          transform: scale(1);
          background-color: $peach-color4;
        }
        to {
          transform: scale(1.2);
          background-color: $peach-color5;
        }
      }

      @keyframes shrink {
        from {
          transform: scale(1.2);
          background-color: $peach-color5;
        }
        to {
          transform: scale(1);
          background-color: $peach-color4;
        }
      }

      @keyframes colorChange {
        0% {
          background-color: $peach-color4;
        }
        40% {
          background-color: $peach-color5;
        }
        60% {
          background-color: $peach-color5;
        }
        100% {
          background-color: $peach-color4;
        }
      }

      .breathe__start {
        font-family: "Concert One", cursive;
        font-size: 3rem;
        color: #fff;
        background-color: inherit;
      }
    }
  }

  .music {
    grid-row: 3 / 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 2.5rem;
    background-color: $peach-color4;
  }
}

button {
  background-color: $peach-color4;
  border: none;
  text-decoration: none;
  font-family: "Concert One", cursive;
  color: #fff;
  font-size: 3rem;
}
img {
  width: 3rem;
  height: 3rem;
}
