$peach-color1: #fff5ef;
$peach-color2: #ffe7dc;
$peach-color3: #ffdac8;
$peach-color4: #ffcdb4;
$peach-color4-2: rgb(255, 203, 177);
$peach-color4-3: rgb(255, 195, 164);
$peach-color5: rgb(255, 192, 161);
$peach-color6: #f6a983;

//main settings
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%; //1rem === 10px;
}

body {
  background: radial-gradient(
    circle,
    rgba(255, 247, 241, 1) 61%,
    rgba(255, 205, 180, 1) 100%
  );
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
//block with meditation
.meditation {
  min-height: 100vh;
  min-width: 100vw;
  background-color: $peach-color2;
  color: #fff;
  border: 0.5rem solid #fff;
  font-family: "Concert One", cursive;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;

  .timer,
  .breathe,
  .flow,
  .music {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  //timer
  .timer {
    grid-row: 1 / 2;
    position: relative;
    border-bottom: 0.5rem solid #fff;
    background-color: $peach-color4;
    position: relative;

    #time {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background-color: $peach-color4;
      font-family: "Concert One", cursive;
      font-size: 2.5rem;
    }
  }

  //main part
  .breathe {
    grid-row: 2 / 3;
    background-color: $peach-color2;
    border-bottom: 0.5rem solid #fff;

    &__circle {
      width: 18rem;
      height: 18rem;
      border-radius: 50%;
      background-color: $peach-color4;
      border: 0.5rem solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5rem;

      &.grow1 {
        animation: grow1 1s linear forwards;
      }
      &.grow2 {
        animation: grow2 1s linear forwards;
      }
      &.grow3 {
        animation: grow3 1s linear forwards;
      }
      &.hold1 {
        animation: hold1 1s linear forwards;
      }
      &.hold2 {
        animation: hold2 1s linear forwards;
      }
      &.shrink1 {
        animation: shrink1 1s linear forwards;
      }
      &.shrink2 {
        animation: shrink2 1s linear forwards;
      }
      &.shrink3 {
        animation: shrink3 1s linear forwards;
      }

      @keyframes grow1 {
        from {
          transform: scale(1);
          background-color: $peach-color4;
        }
        to {
          transform: scale(1.1);
          background-color: $peach-color4-2;
        }
      }
      @keyframes grow2 {
        from {
          transform: scale(1.1);
          background-color: $peach-color4-2;
        }
        to {
          transform: scale(1.2);
          background-color: $peach-color4-3;
        }
      }
      @keyframes grow3 {
        from {
          transform: scale(1.2);
          background-color: $peach-color4-3;
        }
        to {
          transform: scale(1.3);
          background-color: $peach-color5;
        }
      }

      @keyframes hold1 {
        from {
          transform: scale(1.3);
          background-color: $peach-color5;
        }
        to {
          transform: scale(1.3);
          background-color: $peach-color5;
        }
      }
      @keyframes hold2 {
        from {
          transform: scale(1.3);
          background-color: $peach-color5;
        }
        to {
          transform: scale(1.3);
          background-color: $peach-color5;
        }
      }

      @keyframes shrink1 {
        from {
          transform: scale(1.3);
          background-color: $peach-color5;
        }
        to {
          transform: scale(1.2);
          background-color: $peach-color4-3;
        }
      }

      @keyframes shrink2 {
        from {
          transform: scale(1.2);
          background-color: $peach-color4-3;
        }
        to {
          transform: scale(1.1);
          background-color: $peach-color4-2;
        }
      }
      @keyframes shrink3 {
        from {
          transform: scale(1.1);
          background-color: $peach-color4-2;
        }
        to {
          transform: scale(1);
          background-color: $peach-color4;
        }
      }
      .breathe__start {
        font-family: "Concert One", cursive;
        font-size: 2.9rem;
        color: #fff;
        background-color: inherit;
      }
    }
  }

  .footer {
    grid-row: 3 / 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: $peach-color4;
  }
}
//2 buttons in the footer
button {
  background-color: $peach-color4;
  border: none;
  text-decoration: none;
  font-family: "Concert One", cursive;
  color: #fff;
}
img {
  width: 2.5rem;
  height: 2.5rem;
}

// media queri
@media screen and (min-width: 750px) {
  :root {
    font-size: 75%; //1rem === 8px;
  }
}
@media screen and (min-width: 1023px) {
  .meditation {
    min-height: 0;
    min-width: 0;
    height: 50rem;
    width: 50rem;
    margin: 10rem;
  }
}
