/* height: 568px;
    width: 320px; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to bottom, #fff, #fff5ef);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meditation {
  height: 568px;
  width: 320px;
  background-color: #ffe7dc;
  color: #fff;
  border: 5px solid #fff;
  font-family: "Concert One", cursive;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
}
.meditation .timer,
.meditation .breathe,
.meditation .flow,
.meditation .music {
  display: flex;
  justify-content: center;
  align-items: center;
}
.meditation .timer {
  grid-row: 1/2;
  position: relative;
  border-bottom: 5px solid #fff;
  background-color: #ffcdb4;
}
.meditation .timer__set-time {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #ffcdb4;
  font-family: "Concert One", cursive;
  font-size: 2.5rem;
}
.meditation .breathe {
  grid-row: 2/3;
  background-color: #ffe7dc;
  border-bottom: 5px solid #fff;
  position: relative;
}
.meditation .breathe__circle {
  width: 21rem;
  height: 21rem;
  border-radius: 50%;
  background-color: #ffcdb4;
  border: 5px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.meditation .breathe__circle.grow1 {
  animation: grow1 1s linear forwards;
}
.meditation .breathe__circle.grow2 {
  animation: grow2 1s linear forwards;
}
.meditation .breathe__circle.grow3 {
  animation: grow3 1s linear forwards;
}
.meditation .breathe__circle.hold1 {
  animation: hold1 1s linear forwards;
}
.meditation .breathe__circle.hold2 {
  animation: hold2 1s linear forwards;
}
.meditation .breathe__circle.shrink1 {
  animation: shrink1 1s linear forwards;
}
.meditation .breathe__circle.shrink2 {
  animation: shrink2 1s linear forwards;
}
.meditation .breathe__circle.shrink3 {
  animation: shrink3 1s linear forwards;
}
@keyframes grow1 {
  from {
    transform: scale(1);
    background-color: #ffcdb4;
  }
  to {
    transform: scale(1.1);
    background-color: #ffcbb1;
  }
}
@keyframes grow2 {
  from {
    transform: scale(1.1);
    background-color: #ffcbb1;
  }
  to {
    transform: scale(1.2);
    background-color: #ffc3a4;
  }
}
@keyframes grow3 {
  from {
    transform: scale(1.2);
    background-color: #ffc3a4;
  }
  to {
    transform: scale(1.3);
    background-color: #ffc0a1;
  }
}
@keyframes hold1 {
  from {
    transform: scale(1.3);
    background-color: #ffc0a1;
  }
  to {
    transform: scale(1.3);
    background-color: #ffc0a1;
  }
}
@keyframes hold2 {
  from {
    transform: scale(1.3);
    background-color: #ffc0a1;
  }
  to {
    transform: scale(1.3);
    background-color: #ffc0a1;
  }
}
@keyframes shrink1 {
  from {
    transform: scale(1.3);
    background-color: #ffc0a1;
  }
  to {
    transform: scale(1.2);
    background-color: #ffc3a4;
  }
}
@keyframes shrink2 {
  from {
    transform: scale(1.2);
    background-color: #ffc3a4;
  }
  to {
    transform: scale(1.1);
    background-color: #ffcbb1;
  }
}
@keyframes shrink3 {
  from {
    transform: scale(1.1);
    background-color: #ffcbb1;
  }
  to {
    transform: scale(1);
    background-color: #ffcdb4;
  }
}
.meditation .breathe__circle .breathe__start {
  font-family: "Concert One", cursive;
  font-size: 3rem;
  color: #fff;
  background-color: inherit;
}
.meditation .music {
  grid-row: 3/4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 2.5rem;
  background-color: #ffcdb4;
}

button {
  background-color: #ffcdb4;
  border: none;
  text-decoration: none;
  font-family: "Concert One", cursive;
  color: #fff;
  font-size: 3rem;
}

img {
  width: 3rem;
  height: 3rem;
}