* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  background: radial-gradient(circle, #fff7f1 61%, #ffcdb4 100%);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meditation {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #ffe7dc;
  color: #fff;
  border: 0.5rem solid #fff;
  font-family: "Concert One", cursive;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
}
.meditation .timer,
.meditation .breathe,
.meditation .flow,
.meditation .music {
  display: flex;
  justify-content: center;
  align-items: center;
}
.meditation .timer {
  grid-row: 1/2;
  position: relative;
  border-bottom: 0.5rem solid #fff;
  background-color: #ffcdb4;
  position: relative;
}
.meditation .timer #time {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #ffcdb4;
  font-family: "Concert One", cursive;
  font-size: 2.5rem;
}
.meditation .timer #play-music {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: 3rem;
  width: 3rem;
}
.meditation .breathe {
  grid-row: 2/3;
  background-color: #ffe7dc;
  border-bottom: 0.5rem solid #fff;
}
.meditation .breathe__circle {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  background-color: #ffcdb4;
  border: 0.5rem solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
.meditation .breathe__circle.grow1 {
  animation: grow1 1s linear forwards;
}
.meditation .breathe__circle.grow2 {
  animation: grow2 1s linear forwards;
}
.meditation .breathe__circle.grow3 {
  animation: grow3 1s linear forwards;
}
.meditation .breathe__circle.hold1 {
  animation: hold1 1s linear forwards;
}
.meditation .breathe__circle.hold2 {
  animation: hold2 1s linear forwards;
}
.meditation .breathe__circle.shrink1 {
  animation: shrink1 1s linear forwards;
}
.meditation .breathe__circle.shrink2 {
  animation: shrink2 1s linear forwards;
}
.meditation .breathe__circle.shrink3 {
  animation: shrink3 1s linear forwards;
}
@keyframes grow1 {
  from {
    transform: scale(1);
    background-color: #ffcdb4;
  }
  to {
    transform: scale(1.1);
    background-color: #ffcbb1;
  }
}
@keyframes grow2 {
  from {
    transform: scale(1.1);
    background-color: #ffcbb1;
  }
  to {
    transform: scale(1.2);
    background-color: #ffc3a4;
  }
}
@keyframes grow3 {
  from {
    transform: scale(1.2);
    background-color: #ffc3a4;
  }
  to {
    transform: scale(1.3);
    background-color: #ffc0a1;
  }
}
@keyframes hold1 {
  from {
    transform: scale(1.3);
    background-color: #ffc0a1;
  }
  to {
    transform: scale(1.3);
    background-color: #ffc0a1;
  }
}
@keyframes hold2 {
  from {
    transform: scale(1.3);
    background-color: #ffc0a1;
  }
  to {
    transform: scale(1.3);
    background-color: #ffc0a1;
  }
}
@keyframes shrink1 {
  from {
    transform: scale(1.3);
    background-color: #ffc0a1;
  }
  to {
    transform: scale(1.2);
    background-color: #ffc3a4;
  }
}
@keyframes shrink2 {
  from {
    transform: scale(1.2);
    background-color: #ffc3a4;
  }
  to {
    transform: scale(1.1);
    background-color: #ffcbb1;
  }
}
@keyframes shrink3 {
  from {
    transform: scale(1.1);
    background-color: #ffcbb1;
  }
  to {
    transform: scale(1);
    background-color: #ffcdb4;
  }
}
.meditation .breathe__circle .breathe__start {
  font-family: "Concert One", cursive;
  font-size: 2.9rem;
  color: #fff;
  background-color: inherit;
}
.meditation .footer {
  grid-row: 3/4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #ffcdb4;
}

button {
  background-color: #ffcdb4;
  border: none;
  text-decoration: none;
  font-family: "Concert One", cursive;
  color: #fff;
}

img {
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (min-width: 750px) {
  :root {
    font-size: 75%;
  }
}
@media screen and (min-width: 1023px) {
  .meditation {
    min-height: 0;
    min-width: 0;
    height: 50rem;
    width: 50rem;
    margin: 10rem;
  }
}